In [28]:
import pandas as pd

In [29]:
data = pd.read_csv("C:\\Users\sammi\Desktop\Final Project Viz\data\data.csv")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sammi\AppData\Local\Temp\ipykernel_29528\1056158093.py:1: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv("C:\\Users\sammi\Desktop\Final Project Viz\data\data.csv")
C:\Users\sammi\AppData\Local\Temp\ipykernel_29528\1056158093.py:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,26,27,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:\\Users\sammi\Desktop\Final Project Viz\data\data.csv")

In [30]:
data = data.drop(['OBJECTID', 'Shape', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_UNIT_ID', 'SOURCE_REPORTING_UNIT', 'LOCAL_FIRE_REPORT_ID', 'LOCAL_INCIDENT_ID', 
                   'FIRE_CODE', 'FIRE_NAME', 'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID', 'MTBS_ID', 'MTBS_FIRE_NAME',	'COMPLEX_NAME', 'DISCOVERY_DOY', 'DISCOVERY_TIME', 'NWCG_CAUSE_AGE_CATEGORY',
                   'CONT_DOY', 'CONT_TIME', 'OWNER_DESCR', 'FIPS_CODE', 'FIPS_NAME', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT_NAME'], axis = 1)

In [31]:
data['NWCG_REPORTING_AGENCY'] = data['NWCG_REPORTING_AGENCY'].str.upper()

In [32]:
display(data.loc[(data['FIRE_YEAR'] >= 2010)])

,NWCG_REPORTING_AGENCY,FIRE_YEAR,DISCOVERY_DATE,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY
1067010,ST/C&L,2010,5/19/2010,Human,Equipment and vehicle use,NaN,70.0,C,36.766944,-121.303056,CA,SAN BENITO
1067011,ST/C&L,2010,6/8/2010,Human,Missing data/not specified/undetermined,NaN,0.5,B,36.776944,-121.311111,CA,SAN BENITO
1067012,ST/C&L,2010,6/12/2010,Human,Missing data/not specified/undetermined,NaN,0.1,A,36.856111,-121.381111,CA,SAN BENITO
1067013,ST/C&L,2010,6/14/2010,Human,Missing data/not specified/undetermined,NaN,0.1,A,36.818056,-121.391111,CA,SAN BENITO
1067014,ST/C&L,2010,7/11/2010,Human,Missing data/not specified/undetermined,NaN,1.0,B,36.883056,-121.561944,CA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2303561,BLM,2020,6/5/2020,Natural,Natural,NaN,1.0,B,39.037890,-108.959500,CO,NaN
2303562,ST/C&L,2020,7/11/2020,Missing data/not specified/undetermined,Missing data/not specified/undetermined,NaN,100.0,D,37.148611,-119.503056,CA,Madera
2303563,FS,2020,8/27/2020,Natural,Natural,NaN,50.0,C,46.151370,-114.442800,MT,NaN
2303564,FWS,2020,8/17/2020,Natural,Natural,8/20/2020,24892.0,G,46.670340,-120.114500,WA,Yakima
2303565,FS,2020,11/20/2020,Human,Missing data/not specified/undetermined,11/22/2020,105.0,D,38.578900,-79.148450,VA,Rockingham

In [33]:
# Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc

print('Number of missing values:')
count_missing_values = data.loc[(data['FIRE_YEAR'] >= 2010)].isna().sum()
count_missing_values

Number of missing values:

NWCG_REPORTING_AGENCY             0
FIRE_YEAR                         0
DISCOVERY_DATE                    0
NWCG_CAUSE_CLASSIFICATION         0
NWCG_GENERAL_CAUSE                0
CONT_DATE                    224827
FIRE_SIZE                         0
FIRE_SIZE_CLASS                   0
LATITUDE                          0
LONGITUDE                         0
STATE                             0
COUNTY                        98778
dtype: int64

In [34]:
display(data)

,NWCG_REPORTING_AGENCY,FIRE_YEAR,DISCOVERY_DATE,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY
0,FS,2005,2/2/2005,Human,Power generation/transmission/distribution,2/2/2005,0.10,A,40.036944,-121.005833,CA,63.0
1,FS,2004,5/12/2004,Natural,Natural,5/12/2004,0.25,A,38.933056,-120.404444,CA,61.0
2,FS,2004,5/31/2004,Human,Debris and open burning,5/31/2004,0.10,A,38.984167,-120.735556,CA,17.0
3,FS,2004,6/28/2004,Natural,Natural,7/3/2004,0.10,A,38.559167,-119.913333,CA,3.0
4,FS,2004,6/28/2004,Natural,Natural,7/3/2004,0.10,A,38.559167,-119.933056,CA,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2303561,BLM,2020,6/5/2020,Natural,Natural,NaN,1.00,B,39.037890,-108.959500,CO,NaN
2303562,ST/C&L,2020,7/11/2020,Missing data/not specified/undetermined,Missing data/not specified/undetermined,NaN,100.00,D,37.148611,-119.503056,CA,Madera
2303563,FS,2020,8/27/2020,Natural,Natural,NaN,50.00,C,46.151370,-114.442800,MT,NaN
2303564,FWS,2020,8/17/2020,Natural,Natural,8/20/2020,24892.00,G,46.670340,-120.114500,WA,Yakima
2303565,FS,2020,11/20/2020,Human,Missing data/not specified/undetermined,11/22/2020,105.00,D,38.578900,-79.148450,VA,Rockingham

In [ ]:
data1 = data[['FIRE_YEAR', "NWCG_GENERAL_CAUSE", "STATE"]].groupby(["FIRE_YEAR", "NWCG_GENERAL_CAUSE", "STATE"]).value_counts().to_frame('Count').reset_index().rename({'index': 'value'})

data1.to_csv('C:\\Users\sammi\Desktop\Final Project Viz\\fire_cause.csv')

In [36]:
# https://www.geeksforgeeks.org/pandas-group-by-multiple-columns/
# https://www.geeksforgeeks.org/python/pandas-groupby-count-the-occurrences-of-each-combination/


display(data[['FIRE_YEAR', "NWCG_GENERAL_CAUSE", "STATE"]].groupby(["FIRE_YEAR", "NWCG_GENERAL_CAUSE", "STATE"]).value_counts().to_frame('Count').reset_index().rename({'index': 'value'}))

       FIRE_YEAR  NWCG_GENERAL_CAUSE STATE  Count
0           1992  Arson/incendiarism    AK     21
1           1992  Arson/incendiarism    AL     68
2           1992  Arson/incendiarism    AR     78
3           1992  Arson/incendiarism    AZ    331
4           1992  Arson/incendiarism    CA   1151
...          ...                 ...   ...    ...
14497       2020             Smoking    VT      5
14498       2020             Smoking    WA     20
14499       2020             Smoking    WI     33
14500       2020             Smoking    WV      7
14501       2020             Smoking    WY     24

[14502 rows x 4 columns]

In [37]:
display(data[["FIRE_YEAR", "STATE", 'NWCG_REPORTING_AGENCY']].groupby(["FIRE_YEAR", "STATE", 'NWCG_REPORTING_AGENCY']).value_counts().to_frame('Count').reset_index().rename({'index': 'Value'}))

      FIRE_YEAR STATE NWCG_REPORTING_AGENCY  Count
0          1992    AK                   BIA      4
1          1992    AK                   BLM    153
2          1992    AK                    FS     27
3          1992    AK                   FWS      4
4          1992    AK                ST/C&L    292
...         ...   ...                   ...    ...
5968       2020    WY                    FS    118
5969       2020    WY                   FWS      1
5970       2020    WY                    IA      1
5971       2020    WY                   NPS     16
5972       2020    WY                ST/C&L   1210

[5973 rows x 4 columns]

In [ ]:
# Reference: https://www.geeksforgeeks.org/r-data-analysis/how-to-name-the-column-when-using-valuecounts-function-in-pandas/

data2 = data[["FIRE_YEAR", "STATE", 'NWCG_REPORTING_AGENCY']].groupby(["FIRE_YEAR", "STATE", 'NWCG_REPORTING_AGENCY']).value_counts().to_frame('Count').reset_index().rename({'index': 'Value'})

data2.to_csv('C:\\Users\sammi\Desktop\Final Project Viz\\fire_agency.csv')

In [39]:
data = data.loc[(data['FIRE_YEAR'] >= 2010)]

In [43]:
display(data)

,NWCG_REPORTING_AGENCY,FIRE_YEAR,DISCOVERY_DATE,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY
1067010,ST/C&L,2010,5/19/2010,Human,Equipment and vehicle use,NaN,70.0,C,36.766944,-121.303056,CA,SAN BENITO
1067011,ST/C&L,2010,6/8/2010,Human,Missing data/not specified/undetermined,NaN,0.5,B,36.776944,-121.311111,CA,SAN BENITO
1067012,ST/C&L,2010,6/12/2010,Human,Missing data/not specified/undetermined,NaN,0.1,A,36.856111,-121.381111,CA,SAN BENITO
1067013,ST/C&L,2010,6/14/2010,Human,Missing data/not specified/undetermined,NaN,0.1,A,36.818056,-121.391111,CA,SAN BENITO
1067014,ST/C&L,2010,7/11/2010,Human,Missing data/not specified/undetermined,NaN,1.0,B,36.883056,-121.561944,CA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2303561,BLM,2020,6/5/2020,Natural,Natural,NaN,1.0,B,39.037890,-108.959500,CO,NaN
2303562,ST/C&L,2020,7/11/2020,Missing data/not specified/undetermined,Missing data/not specified/undetermined,NaN,100.0,D,37.148611,-119.503056,CA,Madera
2303563,FS,2020,8/27/2020,Natural,Natural,NaN,50.0,C,46.151370,-114.442800,MT,NaN
2303564,FWS,2020,8/17/2020,Natural,Natural,8/20/2020,24892.0,G,46.670340,-120.114500,WA,Yakima
2303565,FS,2020,11/20/2020,Human,Missing data/not specified/undetermined,11/22/2020,105.0,D,38.578900,-79.148450,VA,Rockingham

In [ ]:
# Reference: https://sparkbyexamples.com/pandas/pandas-groupby-sum-examples/

display(data[["FIRE_YEAR", "STATE", "FIRE_SIZE"]].groupby(["FIRE_YEAR", "STATE"])['FIRE_SIZE'].sum().reset_index())

data3 = data[["FIRE_YEAR", "STATE", "FIRE_SIZE"]].groupby(["FIRE_YEAR", "STATE"])['FIRE_SIZE'].sum().reset_index()

data3.to_csv('C:\\Users\sammi\Desktop\Final Project Viz\\fire_size.csv')

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sammi\AppData\Local\Temp\ipykernel_29528\1718109025.py:6: SyntaxWarning: invalid escape sequence '\s'
  data3.to_csv('C:\\Users\sammi\Desktop\Final Project Viz\\fire_size.csv')

     FIRE_YEAR STATE     FIRE_SIZE
0         2010    AK  1.137533e+06
1         2010    AL  4.207847e+04
2         2010    AR  3.475471e+04
3         2010    AZ  8.780020e+04
4         2010    CA  1.279052e+05
..         ...   ...           ...
560       2020    VT  1.343217e+02
561       2020    WA  8.246760e+05
562       2020    WI  2.769260e+03
563       2020    WV  4.732350e+03
564       2020    WY  2.920195e+05

[565 rows x 3 columns]